variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_DEPTH: 1
  CONAN_CREATE_OPTIONS: "-o scine_molassembler:python=True -o scine_molassembler:tests=True -o scine_molassembler:docs=True"
  CONAN_PYPI_OPTIONS: "-o scine_molassembler:python=True -o scine_utilities:shared=False -o scine_molassembler:shared=False"
  GCOVR_OPTIONS: "-r src/ -u --object-directory=build/src/"

include:
  - project: 'scine/development-utils'
    file: '/ci/jobs.yml'

conan-gcc:
  extends:
    - .gcc
    - .conan_create

conan-clang:
  extends:
    - .clang
    - .conan_create

conan-coverage:
  extends:
    - .conan_coverage

pypi-cp36:
  extends:
    - .pypi

license:
  extends: .clang
  script:
    - x=0; for f in $(find src -name "*.h" -or -name "*.cpp"); do grep "@copyright" &> /dev/null $f; x=$(($x | $?)); done; exit $x


complexity:
  extends:
    .gcc
  before_script:
    - echo "Skip before_script"
  script:
    - python3 -m pip install lizard jinja2
    - cd src
    - lizard -l cpp -m -T nloc=100 -T cyclomatic_complexity=15 -T parameter_count=5 -o lizard.html
    - lizard -l cpp -m -w -s cyclomatic_complexity -T cyclomatic_complexity=20 -W ../.whitelizard.txt
  artifacts:
    expire_in: 1 day
    paths:
      - src/lizard.html


# Missing three python ABI builds on master
pypi-cp35:
  extends:
    - .manylinux
  only:
    - master
  variables:
    PYABI: cp35-cp35m

pypi-cp37:
  extends:
    - .manylinux
  only:
    - master
  variables:
    PYABI: cp37-cp37m

pypi-cp38:
  extends:
    - .manylinux
  only:
    - master
  variables:
    PYABI: cp38-cp38m
