.syntastic
Makefile
*.swp
*.svg
*.pdf
*.out
build/
.lvimrc
*.xyz
*.tar
*.tar.bz2
*.tar.xz
analysis/*/*.csv
.R*
*.pov
*.png
*.gif
*.csv
.commit-notes
analysis/testData
STATUS.rst
ISSUE.rst
*.log
*.aux
