build/
build*
install/
install*
.lvimrc
.nvimrc
.commit-notes
*.log
*.aux
documentation/doxygen
documentation/build
compile_commands.json
*.vim
*.pyc
manual/manual.aux
manual/manual.bbl
manual/manual.blg
manual/manual.idx
manual/manual.log
manual/manual.out
manual/manual.pdf
manual/manual.toc
.clangd/
.cache/
